<!DOCTYPE html>
<html>
<head>
	<title>Mongoose Dashboard</title>
</head>
<body>
	<h3>Create a new dog</h3>
	<hr>
	<div>
		<form action="/mongooses" method="post">
			<p>Name: <input type="text" name="name"></p>
			<p>Birthday: <input type="text" name="birthday"></p>
			<button>Create dog</button>
		</form>
	</div>
</body>
</html>